body {
  color: #2a2422;
  font:
    16px/1.4 Arial,
    Helvetica,
    sans-serif;
}

h1,
h2,
h3,
h4 {
  color: black;
  text-wrap: balanced;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

nav {
  background-color: black;
  border: 10px solid rgb(38, 37, 37);
  border-radius: 10px;
}

img {
  box-shadow: 10px 10px 10px green;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  text-decoration: underline;
}

p {
  text-align: start;
  text-wrap: pretty;
}
