body {
  color: #2a2422;
  font:
    16px/1.4 Arial,
    Helvetica,
    sans-serif;
}


button {
  border: solid 1px gray;
  background: lightgray;
  padding: 0.5em 1em;
}

header {
  background: orange;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h1,
h2,
h3,
h4 {
  color: black;
  text-wrap: balanced;
}


nav {
  background-color: black;
  padding: 10px 10px;
  box-sizing:border-box;
}

img {
  box-shadow: 10px 10px 10px green;
  width: 100%;
  height: auto;
}

nav a {
  text-decoration: none;
  color: white;
  width: 100%;
  margin-inline: 10px;
}

nav a:hover {
  text-decoration: underline;
}

p {
  text-align: start;
  text-wrap: pretty;
}
