body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.grille {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    background: lightgray;
    grid-auto-flow: row dense;
}


.square {
    color: #ffffff;
    font-weight: 700;
}

.square1 { background: #FF0000; }
.square2 { background: #FFA500; }
.square3 { background: #e8e856; }
.square4 { background: #008000; }
.square5 { background: #0000FF; }
.square6 { background: #800080; }
.square7 { background: #FFC0CB; }
.square8 { background: #A52A2A; }
.square9 { background: #808080; }
.square10 { background: #000000; }
